In [1]:
import json
import pandas as pd

In [2]:
def gen_dict(path):
    f = open(path)
    new_dict = json.load(f)
    f.close()
    return new_dict

In [3]:
unievo_eval = gen_dict(f"results\LSTM_Evo_Single_Variable_Results.json")
unic2g_eval = gen_dict(f"results\LSTM_Car2Go_Single_Variable_Results.json")
unimodo_eval = gen_dict(f"results\LSTM_Modo_Single_Variable_Results.json")
evo_eval = gen_dict(f"results\LSTM_Evo_Multivariable_Results.json")
c2g_eval = gen_dict(f"results\LSTM_Car2Go_Multivariable_Results.json")
modo_eval = gen_dict(f"results\LSTM_Modo_Multivariable_Results.json")

In [4]:
uni_table = pd.DataFrame({"Evo":unievo_eval, "Modo":unimodo_eval, "Car2Go":unic2g_eval}).T
uni_table.index.name = "Serviço"
uni_table

               RMSE         MAE        R2
Serviço
Evo      173.876613  121.156398  0.003630
Modo      23.558731   15.378326  0.251994
Car2Go    48.704347   36.442230  0.771989

In [5]:
multi_table = pd.DataFrame({"Evo":evo_eval, "Modo":modo_eval, "Car2Go":c2g_eval}).T
multi_table.index.name = "Serviço"
multi_table

               RMSE        MAE        R2
Serviço
Evo      160.234530  94.925282  0.147275
Modo      26.450156  17.900805  0.060296
Car2Go    40.204653  27.905731  0.843792

In [6]:
multi_table.to_latex()

'\\begin{tabular}{lrrr}\n\\toprule\n{} &        RMSE &        MAE &        R2 \\\\\nServiço &             &            &           \\\\\n\\midrule\nEvo     &  160.234530 &  94.925282 &  0.147275 \\\\\nModo    &   26.450156 &  17.900805 &  0.060296 \\\\\nCar2Go  &   40.204653 &  27.905731 &  0.843792 \\\\\n\\bottomrule\n\\end{tabular}\n'

In [7]:
uni_table_file = open('results\\Univariable_Latex_Table.txt', "w")
uni_table_file.write(uni_table.to_latex())
uni_table_file.close()

multi_table_file = open("results\\Multivariable_Latex_Table.txt", "w")
multi_table_file.write(multi_table.to_latex())
multi_table_file.close()